ID_AWS=idCuenta
ORG_NAME=tuorg
API_KEY_LLM=1234ApiChat
JWT_SECRET=secretkey123
USERS_TABLE=EasyCommerceUsers
BUSINESSES_TABLE=EasyCommerceBusinesses
REPORTS_TABLE=EasyCommerceReports
EVENT_BUS_NAME=easycommerce-bus
S3_BUCKET_NAME=easycommerce-files